Options +Includes +FollowSymLinks -Indexes
AddHandler server-parsed .shtml
DirectoryIndex index.shtml index.htm index.php index.html
AddDefaultCharset UTF-8
CookieTracking on
CookieExpires "1 years"

# uncomment next line to use PHP 5.4
# AddType application/x-httpd-php54 php
# uncomment next line to use PHP 5.5
# AddType application/x-httpd-php55 php

<FilesMatch "\.(ico|pdf|jpg|jpeg|png|gif|html|htm|xml|txt|xsl)$">
Header set Cache-Control "max-age=31536050"
</FilesMatch>